name: QA Regression Suite

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test-suite:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          pip install -r requirements.txt

      - name: Ejecutar Tests
        # El "|| true" evita que el workflow se detenga si un test falla, 
        # permitiendo que el reporte se genere igual.
        run: |
          pytest tests/masleidas.py tests/notificaciones.py tests/tags.py tests/sociallinksheader.py tests/sociallinksfooter.py tests/sharetoolbar.py tests/shorts.py --alluredir=allure-results || true

      - name: Generar carpeta con Fecha y Hora
        run: |
          # Creamos una variable con formato legible: Año-Mes-Día_Hora-Min
          echo "REPORT_DATE=$(date +'%Y-%m-%d_%H-%M')" >> $GITHUB_ENV

      - name: Generar Reporte Allure
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_histories: 1 # Esto borra el historial anterior para que no pese

      - name: Desplegar a GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history
          force_orphan: true # Esto limpia la rama gh-pages y sube solo lo nuevo
