name: Regresión Funcional

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-tests:
    name: Run Test Case
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Aquí irás agregando tus scripts del checklist
        test-file: ["masleidas.py"] 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Regresión Funcional
        # Ejecuta pytest y genera los datos para Allure
        run: pytest test/${{ matrix.test-file }} --alluredir=allure-results

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_report: allure-report
          allure_history: allure-history

      - name: Upload Allure Report as Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-${{ matrix.test-file }}
          path: allure-report
