name: QA Regression Suite 游

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Permite correr los tests manualmente desde la pesta침a Actions

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  run-tests:
    name: Ejecutar Componente
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Aqu칤 defines cada script. Cada uno correr치 en un contenedor distinto en paralelo.
        test-file: ["masleidas.py"] 

    steps:
      - name: Checkout del c칩digo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Regresi칩n Funcional
        # Genera los resultados para Allure
        run: pytest tests/${{ matrix.test-file }} --alluredir=allure-results
        continue-on-error: true

      - name: Generar Reporte Allure
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_report: allure-report
          gh_pages: gh-pages

      - name: Deploy a GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report
          publish_branch: gh-pages
